@page
@model CreateModel
@{
    ViewData["Title"] = "Create";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Blogs - Add New</title>
</head>
<body>
    <form method="post">
        Url: <input asp-for="Blog.Url" type="text"/>
             <button>Save</button>
    </form>
</body>
</html>

